In [16]:
import pandas as pd

In [17]:
df = pd.read_csv('20220302Full-tilt-quaternion.csv')

In [18]:
df.columns

Index(['Frame', 'Sub Frame', 'Diabolo-RX', 'Diabolo-RY', 'Diabolo-RZ',
       'Diabolo-RW', 'Diabolo-TX', 'Diabolo-TY', 'Diabolo-TZ', 'stick_left-RX',
       'stick_left-RY', 'stick_left-RZ', 'stick_left-RW', 'stick_left-TX',
       'stick_left-TY', 'stick_left-TZ', 'stick_right-RX', 'stick_right-RY',
       'stick_right-RZ', 'stick_right-RW', 'stick_right-TX', 'stick_right-TY',
       'stick_right-TZ'],
      dtype='object')

In [19]:
df = df.drop(columns=['Frame', 'Sub Frame', 'Diabolo-RX', 'Diabolo-RY','Diabolo-RZ','Diabolo-RW', 'stick_left-RX','stick_left-RY', 'stick_left-RZ', 'stick_left-RW', 'stick_right-RX', 'stick_right-RY', 'stick_right-RZ', 'stick_right-RW'])

In [20]:
df

,Diabolo-TX,Diabolo-TY,Diabolo-TZ,stick_left-TX,stick_left-TY,stick_left-TZ,stick_right-TX,stick_right-TY,stick_right-TZ
0,-310.272583,-129.305557,65.749794,-477.500244,-54.734776,50.309582,-131.051636,-76.998955,67.883156
1,-310.095978,-129.277588,65.722679,-477.058990,-54.773312,50.395802,-131.155045,-76.995445,67.812294
2,-310.009796,-129.425705,65.756783,-477.079437,-54.737595,50.722775,-131.213913,-77.013405,67.669174
3,-310.046906,-129.407166,65.769783,-477.232666,-54.740189,50.628773,-131.188538,-77.016144,67.760002
4,-310.044128,-129.314667,65.745834,-478.046143,-54.682487,50.147579,-131.197281,-77.019943,67.813347
...,...,...,...,...,...,...,...,...,...
43056,-328.436401,27.058401,66.645851,-615.826355,-131.333832,49.136417,-687.092773,-12.182689,58.297508
43057,-328.642548,27.035505,66.593384,-615.738159,-131.374451,49.144062,-687.189209,-12.276341,57.844429
43058,-328.628052,27.044163,66.595894,-616.107117,-131.073853,49.263046,-687.190674,-12.135159,58.108742
43059,-328.373596,26.958817,66.665848,-615.959351,-131.232727,49.359116,-687.200317,-12.142201,58.162632
43060,-328.490875,27.027430,66.658493,-616.119324,-131.063766,49.551620,-687.161560,-12.074566,57.908752

In [21]:
df = df.iloc[15000:34400,:]

In [22]:
df = df.reset_index()

In [23]:
df

,index,Diabolo-TX,Diabolo-TY,Diabolo-TZ,stick_left-TX,stick_left-TY,stick_left-TZ,stick_right-TX,stick_right-TY,stick_right-TZ
0,15000,-309.946259,751.387329,495.335480,-413.098358,701.136963,979.300659,-205.159988,724.131287,1470.387329
1,15001,-314.118774,749.735596,502.981079,-412.917236,701.273560,979.119202,-204.208817,722.109375,1474.996582
2,15002,-312.205048,750.657776,502.632751,-412.461884,701.279175,979.262512,-203.175751,720.458862,1478.932495
3,15003,-313.746826,750.540161,506.090576,-411.785156,701.385559,979.362183,-202.593079,718.882385,1482.612183
4,15004,NaN,NaN,NaN,-411.321777,701.383789,979.511719,-201.814835,717.071594,1486.516846
...,...,...,...,...,...,...,...,...,...,...
19395,34395,-407.446472,186.596863,493.113586,-389.239838,56.891495,1133.772705,-431.495911,375.488495,1329.685059
19396,34396,-408.207001,186.765762,493.592743,-389.313812,56.811768,1133.612183,-431.592651,375.548828,1329.756592
19397,34397,-404.741028,185.131042,494.495422,-389.434570,56.930820,1133.862183,-431.653778,375.639740,1329.849365
19398,34398,-405.792023,185.426010,493.491272,-389.441284,56.830509,1133.750610,-431.802490,375.645477,1329.760986
19399,34399,-406.700562,185.561050,492.736664,-387.968475,55.897011,1133.670288,-431.835419,375.564056,1329.615845

In [24]:
df = df.drop(columns=['index'])

In [25]:
print(df.iloc[0]['Diabolo-TX'])
print(df.iloc[0]['Diabolo-TY'])
print(df.iloc[0]['Diabolo-TZ'])

-309.946259
751.387329
495.33548

In [26]:
df['Diabolo-TX'] = 0
df['Diabolo-TY'] = 0
df['Diabolo-TZ'] = 0

In [27]:
df.loc[0, 'Diabolo-TX'] = -309.946259
df.loc[0, 'Diabolo-TY'] = 751.387329
df.loc[0, 'Diabolo-TZ'] = 495.33548

In [28]:
df = df/1000

In [29]:
df

,Diabolo-TX,Diabolo-TY,Diabolo-TZ,stick_left-TX,stick_left-TY,stick_left-TZ,stick_right-TX,stick_right-TY,stick_right-TZ
0,-0.309946,0.751387,0.495335,-0.413098,0.701137,0.979301,-0.205160,0.724131,1.470387
1,0.000000,0.000000,0.000000,-0.412917,0.701274,0.979119,-0.204209,0.722109,1.474997
2,0.000000,0.000000,0.000000,-0.412462,0.701279,0.979263,-0.203176,0.720459,1.478932
3,0.000000,0.000000,0.000000,-0.411785,0.701386,0.979362,-0.202593,0.718882,1.482612
4,0.000000,0.000000,0.000000,-0.411322,0.701384,0.979512,-0.201815,0.717072,1.486517
...,...,...,...,...,...,...,...,...,...
19395,0.000000,0.000000,0.000000,-0.389240,0.056891,1.133773,-0.431496,0.375488,1.329685
19396,0.000000,0.000000,0.000000,-0.389314,0.056812,1.133612,-0.431593,0.375549,1.329757
19397,0.000000,0.000000,0.000000,-0.389435,0.056931,1.133862,-0.431654,0.375640,1.329849
19398,0.000000,0.000000,0.000000,-0.389441,0.056831,1.133751,-0.431802,0.375645,1.329761
19399,0.000000,0.000000,0.000000,-0.387968,0.055897,1.133670,-0.431835,0.375564,1.329616

In [30]:
df.to_csv('20220302Full-tilt-sticks15000-34400.csv')